body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 nav{
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(64, 64, 64);
}

.logo h1{
  font-size: 35px;
  color: white;
}

 nav ul{
  display: flex;
  list-style: none;
}

 nav ul li {
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  transition: all 0.3s;
}

nav ul li:hover{
  background-color: yellow;
  color: black;
}


.container{
  padding: 20px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: lightblue;
}

.container .search input{
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 20px;
}

.container .movies{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.container .movies article{
  width: calc(100% / 5 - 30px);
  box-shadow: 0 0 0 black;
  border-radius: 10px;
  height: 100%;  
  background-color: yellow;
}

.container .movies article img{
  width: 100%;
  height: 100%;
}

.container .movies article h1{
  font-size: 18px;
  text-align: center;
}


